@keyframes slideDown{
    from{
        opacity: 0;
        transform: translateY(-100px);
      }

    to{
        opacity: 1;
        transform: translateY(0);
      }
    }

body{
    background-color: rgb(233, 223, 223);
    animation: slideDown 2s ease-out;
}

*{
    margin: 0px;
    padding: 0px;
}

#Introduccion{
    position: relative;
    width: 100%;
    height: 100%;
}

#Modo{
    position: absolute;
    width: 5%;
    height: 9%;
    border-radius: 110px;
    margin: 10px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0px 4px 12px rgb(255, 255, 255);
}


#Modo:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgb(0, 0, 0);

}

#Modo:active{
    transform: translateY(5px);
}

#Modo img{
    width: 100%;
    height: 100%;
}

#Introduccion video{
    width: 100%;
    height: 100%;
}

#Introduccion img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 5px 5px blue;
    padding: 30px;
    font-size: 70px;
}

.Medio{
    background-image: url(../Recursos/Medio.jpg);
    width: 100%;
    height: 100%;
    margin-top: -4px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.Medio p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    margin: 27px;
}

h2{
    color: rgb(54, 207, 54);
    font-weight: bolder;
    font-family: sImpact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-top: 30px;
    margin-left: 36%;
    text-shadow: 2px 2px blue;
    text-decoration: underline;
}

@keyframes Mover{
    from { left: -20%; }
    to { left: 100%; }
}

.Estilos{
    position: relative;
    margin: 4px;
    animation: Mover 8s linear infinite;
}

.Aviso{
    color: rgb(228, 79, 79);
    font-weight: bolder;
    font-family: sImpact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

.Links:hover{
    color: rgb(48, 48, 206);
    font-size: 25px;
}

h3{
    color: orange;
    font-weight: bolder;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}

.Tarjeta{
    width: 180px;
    height: 180px;
    perspective: 1000px;
    position: relative;
}

.ContenedorTarjeta{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-style: preserve-3d;
}

.Tarjeta:hover .ContenedorTarjeta{
    transform: rotateY(180deg);
}

.Cara{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cara-frente{
    transform: rotateY(0deg);
}

.Cara-atras{
    background-color: whitesmoke;
    transform: rotateY(180deg);
    box-shadow: 0 0 15px blue;
    border: 3px solid blue;
    opacity: 1;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

p{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8px;
}

img{
    border-radius: 10px;
}



a{
    font-weight: bolder;
    color: blue;
    font-size: 17px;
}

.AjustarJuego{
    position: relative;
    padding-bottom: 56.25%;
}

.AjustarJuego iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes glow{
    0% { box-shadow: 0 0 0 rgba(108,141,250,0), 0 0 0 rgba(108,141,250,0); }
    70%{ box-shadow: 0 0 10px 4px red, 0 0 10px 4px blue; }
    100%{ box-shadow: 0 0 0 rgba(108,141,250,0), 0 0 0 rgba(108,141,250,0); }
}

.Boton-Jugar{
    display: inline-block; 
    margin-top: 7px;
    text-decoration: none; 
    background: green;
    color: white;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,.35);
}

.Boton-Jugar:hover{
    animation: glow 1.6s ease-out infinite;
}

.Barra_navegacion{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 90px;
    border-top: 3px solid crimson;
    border-bottom: 3px solid crimson;
}

.Barra_navegacion nav a{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    transition: all 0.3s ease;
    background-color: red;
    border-radius: 25px;
    color: white;
    margin: 8px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Mando{
    margin-left: 39%;
    cursor: pointer;
}

.Contenedor{
    width: 1000px;
    background-color: whitesmoke;
    border: 3px solid rgb(19, 124, 194);
    margin: 20px auto 30px auto;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 9999px;
    overflow: hidden;
    transition: 0.5s ease;
}

.Fondo{
    background-color: black;
}

.BotonSubir{
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 100px;
    border: 3px solid blue;
    box-shadow: 5px 5px 10px rgba(7, 133, 236, 0.7);
    z-index: 9999;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.BotonSubir img{
    width: 100%;
    height: auto;
}

.BotonSubir:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
}

.BotonSubir:active{
    transform: translateY(5px);
}

footer{
    width: 100%;
    height: 135px;
    background-color: rgba(102, 55, 211, 0.966);
    color: greenyellow;
    border-radius: 10px;
    font-size: 17px;
}

.ContenedorLogo{
    text-align: center;
    margin-top: 12px;
}