.Barra_navegacion{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 90px;
    border-top: 3px solid crimson;
    border-bottom: 3px solid crimson;
}

.Barra_navegacion nav a{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    transition: all 0.3s ease;
    background-color: red;
    border-radius: 25px;
    color: white;
    margin: 8px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Links:hover{
    color: purple;
    font-size: 25px;
}

.Contenedor {
    width: 1200px; 
    background-color: rgba(245, 245, 245, 1);
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
    text-align:center;
    background-image: url(../Recursos/f2.png);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

body {
    background-image: url(../Recursos/f4.png);
    background-color: rgb(150, 115, 115);
    background-repeat:repeat;
    background-size: contain;
    animation: slideDown 2s;
}

.ContenedorLogo {
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.Contenedor1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
      
.Box1,
.Box2 {
    width: 560px; 
    background-color: rgb(245, 245, 245, 1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-image: url(../Recursos/f2.png);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.Contenedor2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.Box3,
.Box4 {
    width: 560px; 
    background-color: rgb(245, 245, 245, 1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-image: url(../Recursos/f2.png);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

img{
    border-radius: 10px;
    box-shadow: 0 0 150px rgb(15, 15, 15);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
}

h3{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    color:red;
}

.Contenedor3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

@keyframes slideDown{
    from{
        opacity: 0;
        transform: translateY(-100px);
      }

    to{
        opacity: 1;
        transform: translateY(0);
      }
    }

h4{
    text-shadow: 0 0 15px rgb(0, 0, 0);
    color:white;
}

.titulopagina{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0;
}

.ColumnaFooter{
    margin-left: 10px;
  }
  
  .ColumnaFooter h3{
    margin-top: 5px;
    padding-bottom: 10px;
  }
  
  .ColumnaFooter p{
    margin: 5px 0;
  }
  
  .ColumnaFooter a{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .ColumnaFooter a:hover{
    transform: scale(1.2);
  }

  
#Footer{
    background-color: red;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }