
body {
    background-image: url("Imagenes/Fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.Barra_navegacion{
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 90px;
    border-top: 3px solid crimson;
    border-bottom: 3px solid crimson;
}

*{
    color: #3b47d4;
    font-family: "Goudy Bookletter 1911", sans-serif; 
}

h1{
    font-family: Times, "Times New Roman", Georgia, serif;
}

h2, h3{
    text-decoration: underline;
}

img{
    border-radius: 10px;
}

.Barra_navegacion nav a{
    display: inline-block;
    text-decoration: none;
    padding: 1.5px;
    transition: all 0.3s ease;
    background-color: greenyellow;
    border-radius: 25px;
    color: blue;
    margin: 8px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    display: flex;
    margin: 30px auto auto auto;
    width: 15%;
    background-image: url("Imagenes/btn.gif");
    color:white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 0%;
    border-radius: 20px;
    border-style:groove;
    border-color: cyan;
}
ol li::marker{
    color: black;
}
.Ind_Caja{
    display:flex;
    flex-direction: column;
    width: 1000px;
    background-image: url("Imagenes/caja.gif");
    background-repeat:repeat-y;
    background-size: 100%;
    border: 2px solid #3b47d4;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja{
    display:flex;
    flex-direction: column;
    width: 1000px;
    background-image: url("Imagenes/caja2.gif");
    background-size: cover;
    border: 2px solid #3b47d4;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

.Redonda {
    width: 70px;
    height: 70px;
    border-radius:50%;
}

footer{
    width: 100%;
    height: 135px;
    background-color: rgba(102, 55, 211, 0.966);
    color: greenyellow;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
}

.Cyan {
    color: cyan;
}

#Nombre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
}

.Logo {
    border-radius: 10px;
}

#Centrar{
    text-align:center;
}

.blink:hover{
    color: purple;
    font-size: 25px;
}