body{
    background-image: url("./Imagenes/Fondo.jpg");
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

h2{
    color: white;
}

p{
    text-align: center;
    color: red;

}

img{
    border-radius: 10px;
    margin: 48px;
}

.Juego{
     text-align: center;
}

h3{
    text-decoration: underline;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Caja{
    width: 1000px;
    background-color: darkblue;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

.Barra_navegacion {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 60px;
}

.Barra_navegacion nav a {
    color: green;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Barra_navegacion img {
    width: 40px;
    height: 40px;
}

footer{
    width: 100%;
    height: 135px;
    background-color: rgba(102, 55, 211, 0.966);
    color: greenyellow;
    border-radius: 10px;
    font-size: 17px;
}

.ContenedorLogo{
    text-align: center;
}

.Caja ol li::marker {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

header img {
    width: 100px;
    height: auto;
}