body{
        background-image: url("Imágenes/3SEo.gif");
        background-size: cover;
}
.Barra_navegacion{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}
.Barra_navegacion nav a{

}
.Caja_1{
    flex-direction: column;
    width: 1000px;
    background-color: whitesmoke;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja_2{
    flex-direction: column;
    width: 1000px;
    background-color: whitesmoke;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja_Índice{
    flex-direction: column;
    width: 1000px;
    background-color: whitesmoke;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

