body{
        background-image: url("Imágenes/Fondo.jpg");
        background-size: cover;
}
.Barra_navegacion{
    display:flex;
    background-color: lightblue;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}
*{
    color:blue;
}

.Barra_navegacion nav a{
    margin: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Caja_1{
    color: blue;
    width: 1000px;
    background-color: black;
    border: 2px solid blue;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja_2{
    width: 1000px;
    background-color: whitesmoke;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja_Índice{
    width: 1000px;
    background-color: whitesmoke;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
.Caja{
    color: blue;
    width: 1000px;
    background-color: black;
    border: 2px solid blue;
    margin: 20px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

.Redonda {
    width: 70px;
    height: 70px;
    border-radius:50%
    }